<div class="container aboutText" id="forecast">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Weather Station</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-7">
                                <p>
                                    The station is located just west of Darfield, New Zealand 
                                    and is powered by a <a href="http://www.vantagevue.com/products/index.asp">Davis Vantage Vue weather</a> 
                                    station. The data is collected every 1 min and the site
                                    is updated every 1 min.  
                                </p>
                            </div>
                            <div class="col-md-5">
                                <img class="stationImage img-responsive" src="data/vantageVue.jpg">
                            </div>
                            <div class="col-md-12">
                                </br>
                                <p>
                                    The station is comprised of an anemometer, a wind vane,
                                    a rain gauge and a thermo-hydro sensor situated in 
                                    optimal positions for highest accuracy possible.
                                </p>

                                

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Website and Software</div>
                <div class="panel-body">
                    <p>
                        This website presents dynamic weather information 
                        as recorded by the weather station. The front page 
                        contains a simple dashboard of realtime weather
                        information, updated every 1 minute, along with 
                        graphs for the past 24-hours and today/yesterday extremes.
                        Other pages include a weather webcam/archive of images
                        taken every 5 minutes with a 
                        <a href="http://www.logitech.com/en-nz/product/hd-pro-webcam-c920?crid=34">Logitech C920 webcam</a>
                        , a graphs page for all realtime (1-min interval) data,
                        a history section displaying historic weather data, and 
                        a 7-day forecast page. 
                    </p>
                    <p>

                    </p>
                    <p>
                        The data is downloaded from
                        the weather station using the python program 
                        <a href="http://www.weewx.com/">Weewx</a> and the 
                        plug-in <a href="https://bitbucket.org/ozgreg/weewx-wd/wiki/Home">Weewxwd</a>
                        and stored in a mySQL database on a local machine. This 
                        software is also responsible for uploading various files
                        to an external web server. 
                    </p>
                    <p>
                        The software is all run on a low cost/powered 
                        <a href="https://www.raspberrypi.org/">Raspberry Pi</a>
                        which is switched on 24-7, and is also 
                        connected to a USB webcam for taking images during 
                        daylight hours.
                    </p>
                    <p>
                        This website has been designed as a single page 
                        <a href="https://angularjs.org/">AngularJS</a> application which takes advantage of AJAX to 
                        asynchronously download html, javascript, images, and weather 
                        data (in JSON format) to be displayed on the webpages. 
                        Thus moving between pages does not require a page
                        refresh and allows pages to be dynamically updated
                        on the fly. The website also make us of 
                        <a href="https://angular-ui.github.io/bootstrap/">angular-bootstrap</a>
                        css styling. 
                    </p>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Donate</div>
                <div class="panel-body">
                    <p>
                        Wish to help with the costs of running this website? then
                        please donate what you can with the below donate button
                    </p>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="QDE24HL4ZVAFE">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>

                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">About Darfield</div>
                <div class="panel-body">
                    <p>
                        Darfield is a town in the Selwyn District of the South 
                        Island of New Zealand. It is 35 kilometres west of the 
                        outskirts of Christchurch on State Highway 73 
                        (Great Alpine Highway) and on the Midland railway line, 
                        route of the TranzAlpine train service. Its population 
                        (GeoNames geographical database 2011) is 1,593.
                    </p>
                    <p>
                        Darfield is the main town between Christchurch and the 
                        West Coast region. It is 
                        often called "The township under the nor'west arch" in 
                        reference to a characteristic weather phenomenon that 
                        often creates an arch of cloud in an otherwise clear 
                        sky to the west of the township. This is caused by 
                        the condensation of water particles channelled upwards 
                        over the Southern Alps. Darfield has an 
                        intermediate/high school, and a primary school, 
                        as well as several shops.
                    </p>
                    <p>
                        Darfield lies in the Malvern district's arable and 
                        pastoral farming area. It is a gateway to the scenic 
                        Waimakariri and Rakaia rivers and the Southern Alps, 
                        and is also a popular lift-off place for hot air 
                        ballooning.
                    </p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Contact</div>
                <div class="panel-body">
                    <p>
                        Got any comments, questions or suggestions? You can 
                        contact me at the following address:
                    </p>
                    <p><a href="mailto:admin@darfield-weather.co.nz?subject=Website Enquiry" >admin@darfield-weather.co.nz</a></p>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Acknowledgements</div>
                <div class="panel-body">
                    <p>
                        Third party libraries used on this website:
                    </p>
                    <ul>
                        <li><a href="https://angularjs.org/">AngularJS</a> (Javascript Framework)</li>
                        <li><a href="http://getbootstrap.com/">Bootstrap</a> (CSS)</li>
                        <li><a href="http://www.highcharts.com/">Highcharts</a> (JavaScript graphing library)</li>
                        <li><a href="https://github.com/pablojim/highcharts-ng">Highcharts-ng</a> (Angular Highcharts Directive)</li>
                        <li><a href="https://erikflowers.github.io/weather-icons/">Bootstrap Weather Icons</a></li>
                        <li><a href="https://angular-ui.github.io/bootstrap/">Angular Bootstrap</a> (Bootstrap JS for AngularJS)</li>
                        <li><a href="https://necolas.github.io/normalize.css/">Normalize</a> (CSS)</li>
                        <li><a href="https://github.com/michaelbromley/angularUtils/tree/master/src/directives/pagination">Pagination Directive</a></li>
                        <li><a href="https://www.wunderground.com/weather/api/">Weather Underground API</a> (forecast data)</li>
                        <li><a href="http://weatherbyyou.com/icons_grzanka.php">Grzanka Weather forecast Icons set</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Using Data</div>
                <div class="panel-body">
                    <p>
                        You may use the data on this website for projects, 
                        research, etc. but please acknowledge this website by 
                        listing the website address.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
<div data-ads></div>
