<div class="col-xs-12 col-sm-6 col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">Temperature</div>
        <div class="panel-body data-panel">


            <div class="row">
                <div class="col-xs-6">
                    <span class="temp" highlighter="current.outTemp.value">{{current.outTemp.value}}</span><span ng-bind-html="current.outTemp.unit" class="unitsBig" highlighter="current.outTemp.value"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 tempTrend" >
                    <span highlighter="current.tempchangehour.value">
                        <span class="glyphicon glyphicon-arrow-{{ current.tempTrend }} {{ current.tempTrend }}"></span> {{current.tempchangehour.value}}<span ng-bind-html="current.tempchangehour.unit"></span>
                    </span>
                </div>
            </div>   
            <div class="row">
                <div class="col-xs-4 thermo"><highchart id="thermo" config="thermo"></highchart></div>
                <div class="col-xs-8 ">
                    <div class="row" >
                        <div class="col-xs-6 HiLoTemp">
                            <div class="row">
                                <div class="col-xs-12 tempHiText">High</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 tempHi"><span highlighter="current.tempMaxValueT.value">{{current.tempMaxValueT.value}}<span class="unitsMd"><span ng-bind-html="current.tempMaxValueT.unit"></span></span></span></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 tempHiText"><span highlighter="current.tempMaxValueT.value">{{current.tempMaxTimeT}}</span></div>
                            </div>
                        </div>
                        <div class="col-xs-6 HiLoTemp">
                            <div class="row">
                                <div class="col-xs-12 tempLoText">Low</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 tempLo"><span highlighter="current.tempMinValueT.value">{{current.tempMinValueT.value}}<span class="unitsMd"><span ng-bind-html="current.tempMinValueT.unit"></span></span></span></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 tempLoText"><span highlighter="current.tempMinValueT.value">{{current.tempMinTimeT}}</span></div>
                            </div>                            
                        </div>
                        
                    </div>
                    

                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 extraData">
                    Humidity: <span class="extraDataValues" highlighter="current.humidity.value">{{current.humidity.value}}<span ng-bind-html="current.humidity.unit"></span></span>
                </div>
                <div class="col-xs-4 extraData">
                    Windchill: <span class="extraDataValues" highlighter="current.windchill.value">{{current.windchill.value}}<span ng-bind-html="current.windchill.unit"></span></span>
                </div>
                <div class="col-xs-4 extraData">
                    Dewpoint: <span class="extraDataValues" highlighter="current.dewpoint.value">{{current.dewpoint.value}}<span ng-bind-html="current.dewpoint.unit"></span></span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12"></br></div>
            </div>
            <div class="row">
                <div class="col-xs-12">Live Temperature:</div>
            </div>

            <div class="row">
                <div class="col-xs-12"><highchart id="liveTemp" config="liveTemp"></highchart></div>
            </div>
            


           
        </div>
    </div>
</div>