<div class="col-xs-12 col-sm-6 col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">Wind</div>
        <div class="panel-body data-panel">



            <div class="row">
                <div class="col-xs-6">
                    <highchart id="windVane" config="windVane"></highchart>
                </div>
                <div class="col-xs-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <span highlighter="current.windSpeed.value"><span class="windspeed">{{ current.windSpeed.value }}</span> <span class="unitsBig" ng-bind-html="current.windSpeed.unit"></span></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 gustingToText">
                            <span highlighter="current.windGust.value">Gust: {{current.windGust.value }} {{current.windGust.unit }} {{ current.windGustDirText }}</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12 windText">
                    <span highlighter="current.beaufortDesc">{{current.beaufortDesc}} (B{{current.beaufort}})</span>
                </div>                    
            </div>
            <div class="row"><div class="col-xs-12"></br></div></div>

            <div class="row">
                <div class="col-xs-4">
                    <div class="row">
                        <div class="col-xs-12">10-min Avg</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 windStats"><span highlighter="current.avwindlastimediate10.value">{{current.avwindlastimediate10.value}}<span class="unitsMd" ng-bind-html="current.avwindlastimediate10.unit"></span></span></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12"><span highlighter="current.avwindlastimediate10.value">{{current.avdir10minuteText}} ({{current.avdir10minute}})</span></div>
                    </div>
                </div>
                <div class="col-xs-4 windStatsText1">
                    <div class="row">
                        <div class="col-xs-12">1-hr Avg</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 windStats"><span highlighter="current.avwindlastimediate60.value">{{current.avwindlastimediate60.value}}<span class="unitsMd"></span><span class="unitsMd" ng-bind-html="current.avwindlastimediate60.unit"></span></span></div>
                    </div>
                </div>
                <div class="col-xs-4 windStatsText2">
                    <div class="row">
                        <div class="col-xs-12">Max Gust</div>
                    </div>
                    <div class="row windStats">
                        <div class="col-xs-12"><span highlighter="current.windMaxValue.value">{{current.windMaxValue.value}}<span class="unitsMd" ng-bind-html="current.windMaxValue.unit"></span></span></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12"><span highlighter="current.windMaxValue.value">{{current.windMaxTime}} ({{current.windMaxGustDirText}})</span></div>
                    </div>
                </div>
            </div>
            <div class="row"><div class="col-xs-12"></br></br></div></div>
            <div class="row">
                <div class="col-xs-12">Live Wind Speed</div>
                <div class="col-xs-12"><highchart id="liveWind" config="liveWind"></highchart></div>
            </div>



            
        </div>
    </div>
</div>