<div class="container" id="map">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Weather Map of Canterbury Region</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="embed-responsive embed-responsive-4by3">
                                <iframe class="embed-responsive-item" src="https://www.wunderground.com/wundermap/?lat=-43.52816&lon=172.18121&zoom=10&type=terrain&units=metric&pin=Darfield%2C+&plat=-43.483334&plon=172.116669&tl.play=0&tl.spd=2&tl.dur=1&tl.frames=20&tl.mode=simple&tl.cmode=1&groupSevere=1&groupHurricane=1&groupFire=1&groupCamsPhotos=1&groupRealEstate=1&eyedropper=0&drought=0&extremes=0&fault=0&favs=0&FemaFlood=0&fire=0&firewfas=0&fissures=0&fronts=0&hurrevac=0&hur=0&labels=1&lightning=0&livesurge=0&mm=0&ndfd=0&rad=0&dir=1&dir.mode=driving&sst=0&sat=0&seismicrisk=0&svr=0&ski=0&snowfall=0&StateLines=0&stormreports=0&tor=0&tfk=0&tsunami=0&riv=0&wxsn=1&wxsn.mode=tw&wxsn.opa=50&wxsn.bcdgtemp=0&wxsn.rf=1&wxsn.showpws=1&cams=0&pix=0&PrecipStart=0&output=embed"></iframe>

                                <!--<iframe class="embed-responsive-item" src="https://www.wunderground.com/cgi-bin/findweather/getForecast?brand=wxmap&query=-43.49080,172.13322&lat=-43.49080&lon=172.13322&zoom=10&type=terrain&units=metric&rad=0&sat=0&svr=0&cams=0&tor=0&wxsn=1&wxsn.mode=tw&wxsn.opa=50&wxsn.bcdgtemp=0&wxsn.rf=0&output=embed"></iframe>-->
                            </div>
                        </div>  
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
