<div class="container" id="footer">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 footer">
                            <a href="http://www.computecnetworks.com/topsites/index.php?a=in&amp;u=spaceman8815"><img src="http://www.computecnetworks.com/topsites/button.php?u=spaceman8815" alt="New Zealand Weather Station Top Sites" border="0" /></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 footer">
                            <p>Never base important decisions on this or any 
                                weather information obtained from the Internet.</p>
                            <p>Copyright &copy; 2016, darfield-weather.co.nz</p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>